# Ignore config with actual credentials
config.json

# Ignore log files
ip_log.txt
last_ip.txt

# Ignore built executables
*.exe

# Go build artifacts
*.test
*.out

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
.DS_Store
*.ip_log.txt

# Github git
/.github/
.git
